:global(.vtex-store-drawer-0-x-childrenContainer--header-menu-mobile) .menuContainerNav {
  width: 100%;
}

:global(.vtex-store-drawer-0-x-childrenContainer--header-menu-mobile) .menuContainer {
  gap: 25px;
}

:global(.vtex-store-drawer-0-x-childrenContainer--header-menu-mobile) .styledLinkContainer {
  padding: 0;
  margin: 0;
}

:global(.vtex-store-drawer-0-x-childrenContainer--header-menu-mobile) .styledLinkContent {
  color: #222426;
  font-size: 20px;
  font-weight: 400;
}

/* MENU */
.styledLinkContent--categories {
  color: #222426;
  font-size: 20px;
  font-weight: 400;
}

.styledLinkContent--categories::before {
  content: "";
  background-image: url(/arquivos/logo-menu-hamburguesa-nuevo.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  display: block;
  position: relative;
  top: 1px;

}

.styledLinkContent--categories::after {
  content: "";
  background-image: url(/arquivos/icono-menu-abrir-nuevo.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  display: block;
  position: relative;
  left: 8px;
  top: 8px;
}

.menuContainerNav--categoties-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.styledLinkContainer--categories {
  margin: 0;
  padding: 0;
}

.menuContainer--submenu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.submenuWrapper--submenu-category {
  padding: 35px 0 15px 0;
  width: 230px;
  position: absolute;
  top: 10px;
  height: 320px;
}

.styledLinkContent--subcategorias {
  color: #222426;
  font-size: 18px;
  font-weight: 400;
  background: #fff;
  padding: 8px 0;
  padding-left: 15px;
}

.styledLinkContent--subcategorias:hover {
  color: #fff;
  background: #222426;
}

.menuItem--subcategorias {
  border-bottom: 1px solid #eaeaea;
}

.submenu--submenu-category {
  display: block;
}

.styledLinkContainer--subcategorias {
  margin: 0;
}

.submenuContainer--submenu-productos {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
}

.submenuWrapper--submenu-productos {
    height: 320px;
    padding: 20px 0;
    border: none;
    overflow-y: auto;
    width: 350px;
}

.styledLinkContainer--submenu-items-productos {
  margin: 0;
}

.styledLinkContent--submenu-items-productos {
  background: rgba(217, 217, 217, 0.54);
  padding: 8px 15px;
  margin: 8px 15px;
}

.styledLinkContent--submenu-items-productos:hover {
  border: 1px solid #000;
}

.menuContainer {
  display: flex;
  flex-wrap: wrap;
}

/* MOBILE */
.menuItem--categories-mobile .styledLinkContent--categories-mobile::after ,
.menuItem--subcategorias-mobile--isClosed .styledLinkContent--subcategorias-mobile::after {
  content: "";
  background-image: url(/arquivos/icono-menu-abrir-nuevo.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  display: block;
  position: relative;
  left: 8px;
  top: -2px;
  transform: rotate(-90deg);
}

.menuItem--categories-mobile--isOpen .styledLinkContent--categories-mobile::after ,
.menuItem--subcategorias-mobile--isOpen .styledLinkContent--subcategorias-mobile::after {
  content: "";
  background-image: url(/arquivos/icono-menu-abrir-nuevo.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  display: block;
  position: relative;
  left: 8px;
  top: 8px;
  transform: rotate(0deg);
}

.menuContainer--submenu-container-mobile {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.submenuWrapper--submenu-category-mobile--isOpen {
  display: flex;
  width: 100%;
}

.menuItem--subcategorias-mobile--isClosed .styledLinkContent--subcategorias-mobile {

}

.submenuWrapper--submenu-category-mobile--isOpen {
  padding-top: 25px;
}

.submenuWrapper--submenu-productos-mobile--isOpen .menuContainer {
  display: block;
  width: 260px;
}

.submenuWrapper--submenu-productos-mobile--isOpen {
  display: block;
  width: 100%;
  position: inherit;
}

.styledLinkContent--submenu-items-productos-mobile {
  color: #222426;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #222426;
  padding: 3px 20px;
  margin: 5px -2px;
}

@media (min-width:1366px) {
  .styledLinkContent--categories {
    font-size: 16px;
    position: relative;
    top: 2px;
  }
  .styledLinkContent--categories::before {
    top: -1px;
  }
  .styledLinkContent--categories::after {
    left: 6px;
    top: 6.5px;
  }
}

@media (min-width:1400px) {
  .styledLinkContent--categories {
    font-size: 16px;
    position: relative;
    top: 2px;
  }
  .styledLinkContent--categories::before {
    top: -1px;
  }
  .styledLinkContent--categories::after {
    left: 6px;
    top: 6.5px;
  }
}

@media (min-width:1500px) {
  .styledLinkContent--categories {
    font-size: 20px;
    position: relative;
    top: 0;
  }
  .styledLinkContent--categories::before {
    top: 0px;
  }
  .styledLinkContent--categories::after {
    left: 8px;
    top: 8px;
  }
}





