.thumbImg--product {
  max-height: 160px;
  width: auto;
  margin: auto;
}

.swiperCaret--product {
  display: block;
}

.productBrand {
  display: block;
  color: #222426;
  margin-top: 15px;
  font-size: 40px;
  font-weight: 500;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-right-col) .skuSelectorContainer {
  margin-top: 10px;
}

:global(.vtex-flex-layout-0-x-flexColChild--product-right-col) .skuSelectorName,
:global(.vtex-flex-layout-0-x-flexColChild--product-right-col) .skuSelectorNameSeparator,
:global(.vtex-flex-layout-0-x-flexColChild--product-right-col) .skuSelectorSelectorImageValue {
  color: #545859;
  font-size: 20px;
  font-weight: 400;
}

.skuSelectorInternalBox--product,
.skuSelectorItemImage--product .frameAround {
  border-radius: 50%;
}

.skuSelectorItemImageValue--product {
  display: none;
}

.skuSelectorItem--product .valueWrapper {
  width: 100%;
  height: 100%;
}

.skuSelectorItem--product--verde .valueWrapper {
  background-color: #708573;
}

.skuSelectorItem--product--verde .frameAround {
  border-color: #708573;
}

.skuSelectorItem--product--negro .valueWrapper {
  background-color: #000;
}

.skuSelectorItem--product--negro .frameAround {
  border-color: #000;
}

.skuSelectorItem--product--rojo .valueWrapper {
  background-color: #b2424d;
}

.skuSelectorItem--product--rojo .frameAround {
  border-color: #b2424d;
}

.skuSelectorItem--product--azul .valueWrapper {
  background-color: #1b365d;
}

.skuSelectorItem--product--azul .frameAround {
  border-color: #1b365d;
}

.skuSelectorItem--product--polar .valueWrapper {
  background-color: #f1f2f1;
}

.skuSelectorItem--product--polar .frameAround {
  border-color: #f1f2f1;
}

.skuSelectorItem--product--plateado .valueWrapper {
  background-color: #d2d2d2;
}

.skuSelectorItem--product--plateado .frameAround {
  border-color: #d2d2d2;
}

.skuSelectorItem--product--gris .valueWrapper {
  background-color: #d2d2d2;
}

.skuSelectorItem--product--gris .frameAround {
  border-color: #d2d2d2;
}

.skuSelectorItem--product--naranja .valueWrapper {
  background-color: #cf8837;
}

.skuSelectorItem--product--naranja .frameAround {
  border-color: #cf8837;
}

.skuSelectorItem--product--coral .valueWrapper {
  background-color: #f88379;
}

.skuSelectorItem--product--coral .frameAround {
  border-color: #f88379;
}

.skuSelectorItem--product--abyss .valueWrapper {
  background-color: #30636f;
}

.skuSelectorItem--product--abyss .frameAround {
  border-color: #30636f;
}

.skuSelectorItem--product--wine .valueWrapper {
  background-color: #41221f;
}

.skuSelectorItem--product--wine .frameAround {
  border-color: #41221f;
}

.skuSelectorItem--product--marino-caro .valueWrapper {
  background-color: #8da09a;
}

.skuSelectorItem--product--marino-caro .frameAround {
  border-color: #8da09a;
}

.skuSelectorItem--product--cobre .valueWrapper {
  background-color: #935d3b;
}

.skuSelectorItem--product--cobre .frameAround {
  border-color: #935d3b;
}

.skuSelectorItem--product--celeste .valueWrapper {
  background-color: #5e93a4;
}

.skuSelectorItem--product--celeste .frameAround {
  border-color: #5e93a4;
}
.skuSelectorItem--product--maple .valueWrapper {
  background-color:  #bb9351;
  ;
}

.skuSelectorItem--product--maple .frameAround {
  border-color: #bb9351;
}

.skuSelectorItem--product--nightfall .valueWrapper {
  background-color: #19212a;
}

.skuSelectorItem--product--nightfall .frameAround {
  border-color: #19212a;
}

.skuSelectorItem--product--pool .valueWrapper {
  background-color: #8ccdde;
}

.skuSelectorItem--product--pool .frameAround {
  border-color: #8ccdde;
}

.skuSelectorItem--product--grapefruit .valueWrapper {
  background-color: #ef9d8f;
}

.skuSelectorItem--product--grapefruit .frameAround {
  border-color: #ef9d8f;
}

.skuSelectorItem--product--charcoal .valueWrapper {
  background-color: #929196;
}

.skuSelectorItem--product--charcoal .frameAround {
  border-color: #929196;
}

.shareContainer--product {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shareContainer--product .shareLabel {
  display: none;
}

.shareContainer--product .shareButtons {
  justify-content: center;
}

.shareSocialIcon--facebook,
.shareSocialIcon--whatsapp,
.shareSocialIcon--pinterest {
  display: none;
}

.shareSocialButton--facebook {
  width: 16px;
  height: 28px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='28' viewBox='0 0 16 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.43949 16.4314V27.6557H4.28346V16.4314H0V11.8802H4.28346V10.2243C4.28346 4.07676 6.85156 0.84433 12.2852 0.84433C13.951 0.84433 14.3675 1.11205 15.2797 1.33019V5.83179C14.2584 5.65331 13.9708 5.55416 12.9099 5.55416C11.6506 5.55416 10.9764 5.91111 10.3616 6.61511C9.74687 7.3191 9.43949 8.5387 9.43949 10.2838V11.8901H15.2797L13.713 16.4413H9.43949V16.4314Z' fill='%23222426'/%3E%3C/svg%3E");
  background-size: contain;
}

.shareSocialButton--whatsapp {
  width: 28px;
  height: 28px;
  margin-left: 25px;
  margin-right: 25px;
  background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.1791 8.55808C25.4978 7.05269 24.5199 5.70113 23.2782 4.53638C22.0365 3.38261 20.5971 2.47059 18.9928 1.83327C17.3336 1.17398 15.5754 0.84433 13.7624 0.84433C11.9493 0.84433 10.1912 1.17398 8.53197 1.83327C6.92768 2.47059 5.48822 3.37163 4.24655 4.53638C3.00488 5.70113 2.02694 7.05269 1.34567 8.55808C0.642419 10.1184 0.279785 11.7886 0.279785 13.5028C0.279785 16.5026 1.40058 19.3815 3.45538 21.6671L2.35655 27.6557L8.20232 25.0514C9.94945 25.7986 11.8065 26.1722 13.7514 26.1722C15.5644 26.1722 17.3226 25.8426 18.9818 25.1833C20.5861 24.546 22.0255 23.6449 23.2672 22.4802C24.5089 21.3154 25.4868 19.9639 26.1681 18.4585C26.8713 16.8982 27.234 15.2279 27.234 13.5138C27.245 11.7886 26.8823 10.1294 26.1791 8.55808Z' fill='%23222426'/%3E%3Cpath d='M19.2343 16.0301C18.6629 15.7444 18.2454 15.5685 17.9487 15.4587C17.7619 15.3927 17.3224 15.1949 17.1685 15.3158C16.685 15.7114 16.1686 16.8322 15.6192 17.041C14.2566 16.7773 12.993 15.8433 12.004 14.8873C11.5645 14.4697 10.7514 13.283 10.5756 12.9643C10.5426 12.6347 11.136 12.1952 11.2678 11.9424C11.9491 11.1732 11.4327 10.6898 11.3448 10.3711C11.1909 10.0415 10.9272 9.44809 10.6965 8.96461C10.4987 8.64595 10.4547 8.17345 10.103 7.99764C8.60865 7.22847 7.7516 8.76682 7.39998 9.56896C5.27925 14.6785 18.0256 24.4031 20.6188 17.7003C20.7507 17.1179 20.6957 16.8981 20.4979 16.6344C20.1024 16.3597 19.6409 16.2388 19.2343 16.0301Z' fill='white'/%3E%3C/svg%3E");
  background-size: contain;
}

.shareSocialButton--pinterest {
  width: 22px;
  height: 28px;
  background-image: url("data:image/svg+xml,%3Csvg width='22' height='28' viewBox='0 0 22 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.97917 19.1681C9.82793 19.1955 10.5945 20.3181 12.8396 20.3181C17.056 20.3454 19.9582 17.1147 20.8617 12.8709C24.0103 -1.83162 2.57247 -3.00892 0.382144 9.09264C-0.138058 11.9401 0.710693 15.2255 2.9284 16.2933C4.6259 17.1147 4.73542 14.7601 4.21522 13.7471C1.91537 9.25691 4.68066 5.20481 8.2947 4.05489C11.6897 2.95972 14.0991 3.86323 15.9335 5.75239C18.2881 8.18913 17.2203 14.8149 14.4276 16.9231C13.442 17.6623 11.6349 17.8266 10.7041 16.9504C8.78752 15.1708 11.7445 11.3925 11.3064 8.62719C10.8683 5.88928 6.54244 6.29997 6.3234 10.3247C6.21389 12.3781 6.81623 12.9805 6.35078 15.0339C5.61155 18.3194 3.36646 25.0273 4.95445 27.6557C7.28167 26.5605 8.43159 19.9895 8.97917 19.1681Z' fill='%23222426'/%3E%3C/svg%3E");
  background-size: contain;
}

.productDescriptionTitle {
  margin-bottom: 35px;
  color: #222426;
  font-family: 'Knockout';
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}

.productDescriptionText {
  color: #222426;
  font-size: 20px;
  font-weight: 400;
}

.shippingContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.shippingContainer :global(.vtex-button) {
  width: fit-content;
  color: #fff;
  background-color: #222426;
  border: none;
  border-radius: 0;
}

.shippingContainer :global(.vtex-button__label) {
  padding: 25px 50px !important;
  font-family: 'Knockout';
  font-size: 24px;
  font-weight: 500;
}

.shippingContainer :global(.vtex-address-form__postalCode) {
  flex-grow: 1;
  height: 100%;
  padding: 0;
}

.shippingContainer :global(.vtex-address-form__postalCode) :global(.vtex-input__label),
.shippingContainer :global(.vtex-address-form__postalCode-forgottenURL) {
  display: none;
}

.shippingContainer :global(.vtex-address-form__postalCode) :global(.vtex-input-prefix__group) {
  height: 100%;
  border: none;
  border-radius: 0;
}

.shippingContainer :global(.vtex-address-form__postalCode) :global(.vtex-address-form-4-x-input) {
  padding: 0 20px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 0;
}

.shippingContainer
  :global(.vtex-address-form__postalCode)
  :global(.vtex-input-prefix__group)
  :global(.vtex-input__suffix) {
  display: none;
}

.shippingNoMessage {
  width: fit-content;
  color: #222426;
  background-color: #fff;
  padding: 5px 10px;
}

.shippingTable {
  background-color: #fff;
}

.shippingTableRadioBtn {
  display: none;
}

@media (max-width: 639px) {
  .swiperCaret--product {
    display: block;
  }

  .productBrand {
    margin-top: 25px;
    font-size: 18px;
  }

  .caretIcon--product {
    width: 12px;
    height: 12px;
  }

  :global(.vtex-flex-layout-0-x-flexColChild--product-right-col) .skuSelectorContainer {
    margin-top: 25px;
  }

  :global(.vtex-flex-layout-0-x-flexColChild--product-right-col) .skuSelectorName,
  :global(.vtex-flex-layout-0-x-flexColChild--product-right-col) .skuSelectorNameSeparator {
    font-size: 12px;
  }

  :global(.vtex-flex-layout-0-x-flexColChild--product-right-col) .skuSelectorSelectorImageValue {
    font-size: 12px;
    font-weight: 600;
  }

  .skuSelectorItemImage--product {
    width: 25px;
    height: 25px;
  }

  .productDescriptionTitle {
    margin-bottom: 15px;
    font-size: 20px;
  }

  .productDescriptionText {
    font-size: 14px;
  }

  .shippingContainer :global(.vtex-button__label) {
    padding: 12px 15px !important;
    font-size: 16px;
  }

  .shareSocialButton--facebook {
    width: 10px;
    height: 18px;
  }

  .shareSocialButton--whatsapp {
    width: 18px;
    height: 18px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .shareSocialButton--pinterest {
    width: 14px;
    height: 18px;
  }

  .productImage--product {
    height: 400px;
  }

  .productImageTag--product {
    height: 400px !important;
    object-fit: cover !important;
  }
}
@media (min-width: 1600px){
 
  .productBrand {
   
    font-size: 50px;
  }
  
}
@media (min-width: 1024px) and (max-width: 1500px){
  .productBrand{
    font-size: 35px;
  }
 .skuSelectorName{
    font-size: 15px;
  }
  .skuSelectorItemImage{
    width: 30px;
    height: 30px;
  }

}