.flexRow--header-menu-mobile-header {
  width: 100%;
}

.flexRowContent--header-menu-mobile-header {
  justify-content: center;
}

.flexRowContent--header-col-right :global(.vtex-store-icons-0-x-cartIcon) {
  width: 22px;
  height: 20px;
  color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='22' viewBox='0 0 24 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.23795 3.64824C4.36019 3.48913 4.54944 3.39587 4.75009 3.39587H22.8334C23.0341 3.39587 23.2233 3.48913 23.3456 3.64824C23.4678 3.80735 23.5091 4.01424 23.4574 4.20811L20.8741 13.8956C20.7987 14.1783 20.5427 14.375 20.2501 14.375H7.33342C7.04083 14.375 6.78478 14.1783 6.70939 13.8956L4.12606 4.20811C4.07436 4.01424 4.11571 3.80735 4.23795 3.64824ZM5.59071 4.68754L7.8296 13.0834H19.7539L21.9928 4.68754H5.59071Z' fill='%23222426'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.875 0.8125H4.10417C4.40052 0.8125 4.65884 1.01419 4.73072 1.3017L5.37655 3.88503L4.12345 4.1983L3.59992 2.10417H0.875V0.8125Z' fill='%23222426'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.97909 17.6042C7.26572 17.6042 6.68742 18.1825 6.68742 18.8958C6.68742 19.6092 7.26572 20.1875 7.97909 20.1875C8.69245 20.1875 9.27075 19.6092 9.27075 18.8958C9.27075 18.1825 8.69245 17.6042 7.97909 17.6042ZM5.39575 18.8958C5.39575 17.4691 6.55235 16.3125 7.97909 16.3125C9.40582 16.3125 10.5624 17.4691 10.5624 18.8958C10.5624 20.3226 9.40582 21.4792 7.97909 21.4792C6.55235 21.4792 5.39575 20.3226 5.39575 18.8958Z' fill='%23222426'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.6041 17.6042C18.8907 17.6042 18.3124 18.1825 18.3124 18.8958C18.3124 19.6092 18.8907 20.1875 19.6041 20.1875C20.3175 20.1875 20.8958 19.6092 20.8958 18.8958C20.8958 18.1825 20.3175 17.6042 19.6041 17.6042ZM17.0208 18.8958C17.0208 17.4691 18.1773 16.3125 19.6041 16.3125C21.0308 16.3125 22.1874 17.4691 22.1874 18.8958C22.1874 20.3226 21.0308 21.4792 19.6041 21.4792C18.1773 21.4792 17.0208 20.3226 17.0208 18.8958Z' fill='%23222426'/%3E%3C/svg%3E");
  background-size: cover;
}

.flexRowContent--header-nav-mobile :global(.vtex-store-icons-0-x-cartIcon) {
  width: 18px;
  height: 17px;
  color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.60351 2.69538C2.69815 2.5722 2.84466 2.5 3 2.5H17C17.1553 2.5 17.3019 2.5722 17.3965 2.69538C17.4911 2.81856 17.5231 2.97874 17.4831 3.12883L15.4831 10.6288C15.4248 10.8477 15.2265 11 15 11H5C4.77348 11 4.57525 10.8477 4.51689 10.6288L2.51689 3.12883C2.47686 2.97874 2.50887 2.81856 2.60351 2.69538ZM3.65081 3.5L5.38414 10H14.6159L16.3492 3.5H3.65081Z' fill='%23222426'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0.5H2.5C2.72943 0.5 2.92943 0.656149 2.98507 0.878732L3.48507 2.87873L2.51493 3.12127L2.10961 1.5H0V0.5Z' fill='%23222426'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.5 13.5C4.94772 13.5 4.5 13.9477 4.5 14.5C4.5 15.0523 4.94772 15.5 5.5 15.5C6.05228 15.5 6.5 15.0523 6.5 14.5C6.5 13.9477 6.05228 13.5 5.5 13.5ZM3.5 14.5C3.5 13.3954 4.39543 12.5 5.5 12.5C6.60457 12.5 7.5 13.3954 7.5 14.5C7.5 15.6046 6.60457 16.5 5.5 16.5C4.39543 16.5 3.5 15.6046 3.5 14.5Z' fill='%23222426'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.5 13.5C13.9477 13.5 13.5 13.9477 13.5 14.5C13.5 15.0523 13.9477 15.5 14.5 15.5C15.0523 15.5 15.5 15.0523 15.5 14.5C15.5 13.9477 15.0523 13.5 14.5 13.5ZM12.5 14.5C12.5 13.3954 13.3954 12.5 14.5 12.5C15.6046 12.5 16.5 13.3954 16.5 14.5C16.5 15.6046 15.6046 16.5 14.5 16.5C13.3954 16.5 12.5 15.6046 12.5 14.5Z' fill='%23222426'/%3E%3C/svg%3E");
  background-size: cover;
}

.flexRow--cart-product-list {
  padding-bottom: 28px;
  border-bottom: 1px solid #d9d9d6;
}
@media (min-width: 1500px){
  
.flexRowContent--header-col-right :global(.vtex-store-icons-0-x-cartIcon) {
  width: 26px;
  height: 24px;
}
}

