.flexRow--row-bannerAfiliados {
    margin: 10px auto;
    background: #00833e;
    /* display: flex;
  flex-direction: row; */
}

.flexRow--row-bannerAfiliadosMobile {
    margin-top: 0.5rem;
    background: transparent !important;
    display: flex;
    justify-content: center;
}

.flexRow--row-bloqueAfiliados-2Mobile {
    background: transparent !important;
    margin-top: -1rem;
}

/* .flexCol--col-rich-bloque-2Mobile,
.flexCol--col-rich-bloque-3Mobile{
  display: flex;
  display: inline-flex;
} */

.flexRow--row-sliderCategorias {
    display: flex;
    justify-content: center;
}

.flexRow--row-bannerPromocional2 {
    display: flex;
    justify-content: center;
}

.flexRow--row-bannerSliderMarcas {
    display: flex;
    justify-content: center;
}

.flexRow--row-sliderMarcasMobile {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
}

.flexRowContent--beneficios {
    background-color: #ffffff;
    padding: 0;
}

.flexRow--beneficios {
    width: 95%;
    margin: 10px auto;
    justify-content: space-evenly;
    background-color: #fff;
    border: solid 1px #acacac;
    border-radius: 20px;
    padding: 0.5rem;
    -webkit-box-shadow: 3px 3px 5px 0 #757575;
    -moz-box-shadow: 3px 3px 5px 0 #757575;
    box-shadow: 3px 3px 5px 0 #757575;
}

.flexRowContent--beneficiosMobile {
    background-color: #ffffff;
}

.flexRow--beneficiosMobile {
    width: 95%;
    margin: 10px auto;
    justify-content: space-evenly;
    background-color: #fff;
    border: solid 1px #acacac;
    border-radius: 20px;
    padding: 0.8rem;
    -webkit-box-shadow: 3px 3px 5px 0 #757575;
    -moz-box-shadow: 3px 3px 5px 0 #757575;
    box-shadow: 3px 3px 5px 0 #757575;
}

.flexRow--row-refuerzos-mobile {
    background: #ffffff !important;
    padding-top: 6px;
    /* margin-top: -4px; */
    padding-bottom: 5px;
}

.flexRowContent--row-sliderMarcas {
    margin: auto;
}

.flexRow--row-sliderMarcas {
    display: flex;
    justify-content: center;
}

.flexRow--prods-1 {
    display: flex;
    justify-content: center;
}

:global(.vtex-wish-list-1-x-outline) {
    /*background: url("assets/home/wishlist.svg");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 4px;
    margin-bottom: 25%;
}

.flexColChild--botonCarrito :global(.vtex-button)
/* .element--vitrinaPrevisoraCategorias :global(.vtex-button) */ {
    width: 88%;
    margin: auto;
    min-height: fit-content;
    background: linear-gradient(135deg, #008344 0%, #77bb44 100%);
    border-radius: 30px;
    border-color: transparent;
}

.flexRow--row-camposVitrina1 {
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 5px;
    margin-left: 12%;
    margin-right: 12%;
}

.flexRow--row-camposVitrina2 {
    border-bottom: 1px solid #c6c6c6;
    padding: 8px 0;
    margin-left: 12%;
    margin-right: 12%;
}

.flexRow--row-camposVitrina3 {
    /* border-bottom: 1px solid #C6C6C6; */
    padding: 8px 0;
    margin-left: 12%;
    margin-right: 12%;
}

.flexRowContent--mejorPrecioAfiliado {
    padding-right: 10%;
    margin-left: 5%;
    margin-right: 5%;
    /* font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.283333px;
    color: #00833E; */
}

.flexRow--row-camposVitrina1Horizontal {
    border-bottom: 1px solid #c6c6c6;
    padding: 8px 0;
    /* margin-left: 12%; */
    margin-right: 28%;
}

.flexRow--row-camposVitrina2Horizontal {
    border-bottom: 1px solid #c6c6c6;
    padding: 8px 0;
    /* margin-left: 12%; */
    margin-right: 28%;
}

.flexRow--titulo-1 {
    display: flex;
    justify-content: center;
}

.flexRow--summaryListDesktop {
    background: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

:global(.vtex-search-result-3-x-filterTemplateOverflow)::-webkit-scrollbar {
    width: 5px;
}

:global(.vtex-search-result-3-x-filterTemplateOverflow)::-webkit-scrollbar-thumb {
    background: #cacbcc;
}

/* .flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}
.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}
 */

.flexCol--prodEspecificacion {
    padding: 0;
}

.flexRowContent--carrusel-ver-mas {
    display: flex;
    flex-wrap: wrap;
}

.flexRowContent--BannerTelefonos {
    display: grid;
    width: 90%;
    margin: 2rem auto;
    padding: 2rem !important;
    background-color: #e0e0e0;
    border-radius: 20px;
    height: 150px;
    padding: 0;
}


.flexRowContent--carruselTeProtege {
    height: 480px;/* 
    background: url(https://web.vtexassets.com/assets/vtex/assets-builder/tienda2.tienda2/0.1.1/home/teProtege___746cd3d�.webp);
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
    width: 100%;
    max-width: 1457px!important;
    margin: 0 auto;
    margin-bottom: 15px;
}
/* @media only screen and (min-width: 1588px){
    .flexRowContent--carruselTeProtege {
        width: 80% !important;
        margin: 0 auto;
    } 
} */
.flexRowContent--carruselTeProtege :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child{
   position: absolute;
   width: 100% !important;
   height: 100%;
}
.flexRowContent--carruselTeProtege :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child{
    width: 62%!important;
    margin-left: auto;
}
@media (max-width: 768px){
    .flexRowContent--carruselTeProtege :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child{
        width: 100%!important;
    } 
}
.flexRow--carruselTeProtege {
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.flexRowContent--vitrinatienda2TeProtege {
    display: block;
    min-height: 40px;
    margin-bottom: 10px;
}
.flexRowContent--vitrinatienda2TeProtege :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child{
    position: relative !important;
}
.flexRowContent--vitrinatienda2TeProtege :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child{
    width: 100% !important;
}

@media (max-width: 993px) {
    .flexRow--prods-1Mobile {
        /* display: flex;
    justify-content: space-around; */
        /* padding: 0 3%; */
        padding-left: 2%;
        padding-right: 3%;
    }

    .flexColChild--botonCarrito :global(.vtex-button)
    /* .element--vitrinaPrevisoraCategorias :global(.vtex-button) */ {
        width: 100%;
        min-height: fit-content;
        margin-left: 5%;
        background: linear-gradient(135deg, #008344 0%, #77bb44 100%);
        border-radius: 30px;
        border-color: transparent;
    }

    .flexRow--row-camposVitrina1 {
        border-bottom: none;
        margin-left: 7%;
        margin-right: 7%;
    }

    .flexRow--row-camposVitrina2 {
        border-bottom: none;
        margin-left: 7%;
        margin-right: 7%;
    }

    .flexRowContent--row-camposVitrina1 {
        border-bottom: 1px solid #c6c6c6;
        padding: 8px 0;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    .flexRowContent--row-camposVitrina2 {
        border-bottom: 1px solid #c6c6c6;
        padding: 8px 0;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    :global(.vtex-wish-list-1-x-outline) {
        left: 25%;
        margin-bottom: 25%;
    }

    .flexRowContent--mejorPrecioAfiliado {
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .flexRowContent--BannerTelefonos {
        display: grid;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #e0e0e0;
        border-radius: 20px;
        height: 200px;
    }  

    .flexRow--carruselTeProtege {
        margin: 0;
    }

    .flexRowContent--row-bannerPromocional1 {
        width: 340px;
        margin-bottom: 20px;
    }

    .flexRow--beneficios {
        position: inherit !important;
    }

    .flexRowContent--carruselTeProtege {
        height: 480px;
        background: none;
    }


    .flexRowContent--imagen-main :global(.vtex-product-highlights-2-x-productHighlightWrapper--flag-beneficios) {  
        right: 10% !important;
    }
}

@media (max-width: 360px) {
    :global(.vtex-wish-list-1-x-outline) {
        margin-top: -5px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1025px) {
    .flexRow--row-bannerAfiliados {
        padding-left: 3rem;
    }
}

@media screen and (max-width: 1366px) {
    .flexRow--row-bannerPromocional1 {
        padding: 0 5.5rem;
    }

    .flexRow--row-bannerPromocional2 {
        padding: 0 4rem;
    }

    .flexRow--row-bannerSliderMarcas {
        padding: 0 3rem;
    }

    .flexRow--row-sliderMarcas {
        padding: 0 6rem;
    }
}

@media (min-width: 1441px) {
    .flexRow--beneficios {
        width: 80% !important;
        margin: 0 auto;
        padding: 0.8rem;
    }
}

@media (max-width: 1024px) {
    .flexRowContent--beneficios {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1rem 0;
    }

        .flexRowContent--beneficios :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
            width: 100% !important;
        }
}

.flexRowContent--imagen-main :global(.vtex-product-highlights-2-x-productHighlightWrapper--flag-beneficios) {
    position: absolute;
    z-index: 1000;
    width: 70px;
    right: 55%;
}


@media (max-width: 415px) {
    .stretchChildrenWidth.flex {
        display: flex;
        flex-direction: column;
    }
}
