/* Containers de pages*/
.flexRow--main-tienda2-plus :global(.vtex-store-components-3-x-container),
.flexRow--main-programa-adherencia
  :global(.vtex-store-components-3-x-container),
.flexRow--main-convenio-help :global(.vtex-store-components-3-x-container),
.flexRow--main-preparados-oncologicos
  :global(.vtex-store-components-3-x-container),
.flexRow--main-importacion-medicamentos
  :global(.vtex-store-components-3-x-container),
.flexRow--BannerContainerInvierno
  :global(.vtex-store-components-3-x-container) {
  max-width: 100%;
}

.flexRow--main-ayuda {
  max-width: 1344px;
  margin: 0 auto;
}
.flexCol--help-list {
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 6rem 0 0 2rem;
  height: fit-content;
}

/* Reclamos y sugerencias */
.flexRow--reviewContainer {
  margin-top: 30px;
  border-top: 1px solid #b4c6cc;
  padding: 50px;
}
/* Form de reclamos y sugerencias */
.flexRowContent--formSugerenciaReclamos {
  width: min(519px, 95%);
  margin: 0 auto;
}
.flexRowContent--formSugerenciaReclamos :global(.vtex-input-prefix__group),
.flexRowContent--formSugerenciaReclamos :global(.vtex-textarea__input) {
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: 20px;
  border: solid 1px #5f5f5f;
  font-size: 14px;
  color: #545977;
}
.flexRowContent--formSugerenciaReclamos :global(.vtex-input-prefix__group) {
  height: 36px;
}
.flexRowContent--formSugerenciaReclamos :global(.vtex-textarea__input) {
  height: 10rem;
}
.flexRowContent--formSugerenciaReclamos :global(.vtex-button) {
  width: 200px;
  color: #fff;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 14px;
  border-radius: 30px;
  border: none;
  display: block;
  margin: 0 auto;
}
.flexRowContent--formSugerenciaReclamos :global(.vtex-button__label) {
  text-transform: capitalize;
}
/* Expendio solo en local */
.flexCol--expendioShelf {
  height: 290px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 20px;
  border: 1px solid #d0d0d0;
  border-radius: 12px;
  display: block;
  padding: 10px;
}
.flexColChild--expendioShelf {
  height: fit-content !important;
}

.flexRowContent--expendioShelfContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Políticas de despacho */
.flexRowContent--trow:hover {
  background-color: #ddd;
}
.flexRowContent--trow :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 33.3% !important;
}

.flexRow--tienda2-plus-img {
 /* background-image: url(assets/ayuda/tienda2plus.png);
  background-image: url(https://tienda2cl.vtexassets.com/assets/vtex.file-manager-graphql/images/fa1d7637-cc56-4bc3-a578-64f6b368060a___5f31c7a3019df3bd89245c4cfaa34a15.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;*/
  width: 100%;
  height: 300px;
}

.flexRowContent--convenioImgContainer {
  width: min(860px, 95%);
  margin: 0 auto;
}

/* Formilario de tienda2 plus */
.flexCol--main-tienda2-plus {
  position: relative;
}
:global(.vtex-checkbox__inner-container){
  border: 1px solid #5f5f5f !important;
}
.flexRow--tienda2plusForm {
  position: absolute;
  width: 100%;
  height: 85%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
  padding: 5px 16px;
  border-radius: 20px;
  border: 1px solid #545977;
}

@media (max-width: 1025px) {
  .flexColChild--main-tienda2-plus  {
    width: 100%;
    display: flex;
    justify-content: center;
}
  .flexRow--tienda2plusForm {
    position: initial;
    left: 50%;
    width: 100%;
    height: 85%;
    margin: 20px auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    padding: 16px;
    border-radius: 20px;
    border: 1px solid #545977;
  }
  .flexCol--tienda2plusForm {
    font-size: 10px !important;
    }
    .flexRow--tienda2plusForm :global(.vtex-button) {
      background-color: #0066b0;
      border: none;
       width: 130px !important; 
      border-radius: 7px;
      margin: -43px auto;
      display: block;
      font-size: 12px!important;
      min-height: 25px;
      
    } 
     
    
}


.flexRow--tienda2plusForm :global(.vtex-styleguide-9-x-input),
.flexRow--tienda2plusForm :global(.vtex-dropdown__container) {
  height: 25px !important;
  border-radius: 10px;
  border: 1px solid #545977;
  font-size: 12px !important; 
}
.flexRow--tienda2plusForm :global(.vtex-input-prefix__group){
  border: none;
  margin-bottom: -5px
}
.flexRow--tienda2plusForm :global(.vtex-styleguide-9-x-input)::focus-visible{
  border: 2px solid #545977;
}
.flexRow--tienda2plusForm :global(.vtex-store-form-0-x-formSubmitContainer) {
  margin-top: 5px;
}
.flexRow--tienda2plusForm :global(.vtex-button) {
  background-color: #0066b0;
  border: none;
  width: 130px!important;
  border-radius: 7px;
  margin: 7px auto;
  display: block;
  font-size: 11px!important;
  min-height: 25px;
}
.flexRow--tienda2plusForm :global(.vtex-button__label) {
  text-transform: capitalize;
}
 

 

/* Convenio help */
.flexRowContent--convenioContent {
  width: min(589px, 95%);
  margin: 0 auto;
}
.flexRow--convenioImgContainer {
  margin-top: 2rem;
}
.flexRowContent--convenioContent2 {
  width: min(876px, 95%);
  margin: 0 auto;
}

/* Suscripciones */
.flexRowContent--pasosContainer {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
  margin: 0 auto;
}
.flexRowContent--pasosContainer
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  min-width: 150px;
}
.flexRowContent--pasosContainer
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  min-width: 250px;
}
@media (max-width: 1042px) {
  .flexRowContent--pasosColReverse {
    flex-direction: column-reverse;
  }
}
.flexRowContent--suscripcionesButtons {
  justify-content: center;
  column-gap: 22%;
}
/* Bases legales */

.flexRowContent--bases-legales-content :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: 20% !important;
}

.flexRowContent--bases-legales-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  /*.flexRowContent--bases-legales-content {
    display: flex;
    flex-direction: column;
    row-gap: 55px;
    align-items: center;
  }*/
  .flexRowContent--bases-legales-content :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    padding-right: 0;
    width: 50% !important;
    display: inline-table;
  }
}

@media (max-width: 767px) {
  .flexCol--devolucionColumn {
    width: 95% !important;
    gap: 35px;
  }
}

/* Programs de adherencia */
:global(.vtex-slider-layout-0-x-imageElementLink--adherenciaSlider) {
  display: block;
  width: 100%;
}

/* Campaña de invierno */
.flexRowContent--titulo-1 :global(.vtex-rich-text-0-x-container){
  justify-content: center;
}
.flexCol--inviernoCol .flexRowContent--titulo-1{
  margin-top: 4rem;
}

/* tienda2 plus */
.flexColChild--main-tienda2-plus .flexRowContent{
  justify-content: center;
}

.flexRow--imagen-main{
  position: relative;
}

/*
.flexRow--imagen-main :global(.vtex-product-highlights-2-x-productHighlightWrapper){
  position: absolute;
  right: 80px;
  z-index: 9;
  top: 20px;
}
*/

.flexCol--tienda2plusForm{
  font-size: 10px;
}

.flexRowContent--tienda2plusForm{
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}


@media (min-width: 1026px) and (max-width: 1194px) {

      .flexRow--tienda2plusForm :global(.vtex-styleguide-9-x-input),
      .flexRow--tienda2plusForm :global(.vtex-dropdown__container) {
        height: 20px !important;
        border-radius: 10px;
        border: 1px solid #545977;
        font-size: 10px !important; 
      }
      .flexRow--tienda2plusForm :global(.vtex-input-prefix__group){
        border: none;
        margin-bottom: -9px;
      }
      .flexRow--tienda2plusForm :global(.vtex-button) {
        background-color: #0066b0;
        border: none;
        width: 130px!important;
        border-radius: 7px;
        margin: 7px auto;
        display: block;
        font-size: 11px!important;
        min-height: 30px;
      }

}


@media (min-width: 1026px) and (max-width: 1060px) {
      .flexCol--tienda2plusForm{
        font-size: 8px;
      }
  }

  @media (min-width: 1060px) { 
    .flexRow--tienda2plusForm {
      position: absolute;
      width: 100%;
      height: 85%;
      margin: 0 auto;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      background-color: #fff;
      padding: 5px 16px;
      border-radius: 20px;
      border: 1px solid #545977;
    }
  }


  @media (min-width: 1300px) { 
    .flexCol--tienda2plusForm{
      font-size: 11px;
    }
  }

  .flexRowContent--porqueContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}